/*

16 Typogrpahy

28 Layout

*/






/*  Typography  */

body {
    font-family: 'Roboto Slab';
    font-size: 8px;
    color: ff0000;
}

h1, h2 {
    font-family: 'Azeret Mono', monospace;
    color: 008000;
}


/*  Layout  */


/*  Media   */